<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zenjin.watchlist.watchlist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/WatchListTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />

        <activity
            android:name=".ui.WatchlistActivity"
            android:label="@string/wl_title"
            android:configChanges="orientation|screenSize">

        </activity>
        <activity
            android:name=".ui.MyWatchList"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_main_main">

        </activity>
        <activity
            android:name=".ui.InfoPage"
            android:label="@string/title_activity_info_page"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.WatchlistActivity" />
        </activity>
        <activity
            android:name=".ui.RegistreerActivity"
            android:label="@string/title_activity_login"
            android:configChanges="orientation|screenSize">

        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_dispatch"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SignUpOrLoginInActivity"
            android:label="@string/title_activity_signup_or_login"
            android:configChanges="orientation|screenSize">

        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:configChanges="orientation|screenSize">

        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_browse"
            android:configChanges="orientation|screenSize">

        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".ui.WatchlistActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.WatchlistActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>

